html {
	scrollbar-gutter: stable both-edges;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--text-color: #232323;
	--text-color-secondary: #797979;
	--text-color-tertiary: #6c6c6c;
	--background-color-dark: #f0f0f0;
}

body {
	width: 17rem;
	padding: 2rem 1.5rem;
	margin: 0 0 auto 0;
	color: var(--text-color);
	font-family: 'Lora', system-ui;
}

button {
	width: 100%;
	height: 2.5rem;
	margin-bottom: 0.5rem;
	font-family: 'Lora', system-ui;
}

h1, h2, h3, h4 {
	margin-top: 0;
}

h1 {
	font-weight: 400;
	font-size: 1.25rem;
/*	letter-spacing: 0.28em;*/
	text-align: center;
/*	text-transform: uppercase;*/
	font-family: 'Bitter', serif;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.date-group__date {
	font-size: 0.8rem;
	text-transform: lowercase;
	font-weight: 600;
}

.date-group--monday {
	border-top: 1px solid var(--background-color-dark);
	padding-top: 1rem;
}

.date-group__count {
	color: var(--text-color-tertiary);
	background: var(--background-color-dark);
	border-radius: 0.4rem;
	font-size: 0.8rem;
	padding: 0 0.4rem;
	margin-left: 0.4rem;
	font-weight: 400;
}

#page-links {
	margin: 2rem 0;
}
.page-link {
	margin-bottom: 1rem;
}

.page-link a {
	color: inherit;
	text-decoration: none;
}

.page-link a:hover {
	text-decoration: underline;
}


.page-link__title {
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
	margin-bottom: 0.125rem;
	font-weight: 400;
	line-height: 1.35em;
	font-size: 1rem;
}

.page-link__details {
	display: flex;
	justify-content: space-between;
	color: var(--text-color-secondary);
	font-size: 0.8rem;
	text-transform: lowercase;
}

.page-link button {
	height: 1rem;
	width: auto;
	border: 0;
	background: transparent;
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	color: var(--text-color-secondary);
	text-transform: lowercase;
}

.page-link button:hover {
	text-decoration: underline;
	cursor: pointer;
}

hr {
	margin: 1rem 0;
}

/*h3 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}*/

.datebutton.future-week {
	opacity: 0.65;
}

.datebutton:last-child {
	margin-bottom: 0;
}

.bottom-nav {
	text-align: center;
	margin-top: 1rem;
}

/* Dev environment */

@media (min-width: 500px) {
	html {
		background: #eee;
		scrollbar-gutter: unset;
	}

	body {
		background: #fff;
		position: absolute;
		right: 0;
		box-shadow:
		2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
		6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
		12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
		22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
		100px 100px 80px rgba(0, 0, 0, 0.07)
		;

	}
}